# Node modules
node_modules/
frontend/node_modules/

# Build outputs
frontend/dist/
api/.vercel/

# Environment variables
.env
frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store

package-lock.json
frontend/package-lock.json